Debug/EliminacjaGaussa.obj
Debug/EliminacjaGaussa.pdb
Debug/EliminacjaGaussa.tlog/CL.command.1.tlog
Debug/EliminacjaGaussa.tlog/CL.read.1.tlog
Debug/EliminacjaGaussa.tlog/CL.write.1.tlog
Debug/EliminacjaGaussa.tlog/EliminacjaGaussa.lastbuildstate
Debug/EliminacjaGaussa.tlog/link.command.1.tlog
Debug/EliminacjaGaussa.tlog/link.read.1.tlog
Debug/EliminacjaGaussa.tlog/link.write.1.tlog
Debug/Macierz.obj
Debug/Wektor.obj
Debug/Wynik.obj
Debug/vc140.idb
Debug/vc140.pdb
.vs/EliminacjaGaussa/v14/.suo
Debug/EliminacjaGaussa.exe
Debug/EliminacjaGaussa.ilk
Debug/EliminacjaGaussa.log
